body {
  height: 100%;
  margin: 0%;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: space-between;
}

div,
h1 {
  padding: 0%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  width: 100%;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: blue;
}

.paragraph {
  margin-top: 10%;
  text-align: center;
  align-items: center;
}

.lets {
  padding: 0%;
  text-align: start;
  margin-top: 10%;
}

.calcContainer {
  display: flex;
  justify-content: space-evenly;
}
